.header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100dvw;
  }
  .logo {
    width:166px;
    height:auto;
  }
  .headerButtons {
    display:flex;
    gap:20px;
  }
  .headerButton {
    background: none;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    line-height:32px;
    font-size:19px;
    transition: color 0.3s ease;
  }
  .headerButton.active {
    color: #BAFFC9;
  }