.hero {
    display:flex;
    justify-content: space-between;
    color:white;
    max-width:1054px;
    width: 100%;
    margin-top: 87px;
    padding: 0 15px;
    box-sizing: border-box;
    

    
}
.heroText {
    flex:1;
    max-width: 467px;
    margin-top: 98px;
    min-height: 342px;
}
.heroText p {
    font-size: 19px;
    font-weight: 400;
    color: #D8D8D8;
    line-height: 150%;
    min-height: 342px;
}
.heroMain {
    display:flex;
    flex-direction: column;
    gap:131px;
    flex:1
    
}

.titleText {
    max-width: 363px;
    font-size: 60px;
    font-weight: 600;
    line-height: 65px;
    overflow-y: hidden;
    
}
.mobileText {
    display: none;
    font-size: 14px;
    font-weight: 400;
    color: #D8D8D8;
    line-height: 150%;
    max-width:420px;
    text-align: center;
}

@media screen and (max-width:800px) {
    .heroText {
        display:none;
    }
    .mobileText {
        display:block;
    }
    .heroMain {
        gap:30px;
        align-items: center;
    }
    .titleText{
        font-size:50px;
        text-align: center;
    }
    .hero {
        margin-top:50px;
    }
    
}
